on: [push, pull_request]
jobs:
    openapi_check:
      name: "OpenAPI check"
      runs-on: ubuntu-latest
      steps:
        # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
        - uses: actions/checkout@v2

        - name: "Create .spectral.yaml for linting"
          run: |
            echo "extends: spectral:oas" > .spectral.yaml

        # Run Spectral
        - uses: stoplightio/spectral-action@v0.8.1
          with:
            file_glob: openapi.yaml
            spectral_ruleset: .spectral.yaml
